<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Добавить администратора</title>
    <script>
        function validateUsername() {
            const usernameInput = document.getElementById('username');
            const usernameValue = usernameInput.value.trim();

            // Check if username starts with 'sc'
            if (!usernameValue.startsWith('sc')) {
                alert('Имя пользователя должно начинаться с "sc".');
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Добавить администратора</h1>
        <form action="/add-admin" method="post" onsubmit="return validateUsername()">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" value="sc" required>
            <br>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Добавить администратора</button>
        </form>
        <button onclick="window.location.href='/admin'">Отмена</button>
    </div>
</body>
</html>
