<!-- admin-page.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Редактор справоников</title>
</head>
<body>
    <div class="container">
    <h1>Редактор справоников</h1>
    <button onclick="window.location.href='/admin'">Назад</button>
    <!-- Form to add new journal type -->
    <div class="form-container">
        <form action="/add-journal-type" method="POST">
            <label for="journalTypeName">Новый тип журнала:</label>
            <input type="text" id="journalTypeName" name="journalTypeName" required>
            <button type="submit">Добавить</button>
        </form>
    </div>

    <!-- Table for displaying journal types -->
    <h2>Типы Журналов</h2>
    <table>
        <tr>
            <th>Наименование</th>
            <th>Действие</th>
        </tr>
        <% journalTypes.forEach(type => { %>
            <tr>
                <td><%= type.name %></td>
                <td>
                    <form action="/delete-journal-type/<%= type.id %>" method="POST">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </table>

    <!-- Form to add new medicine type -->
    <div class="form-container">
        <form action="/add-medicine-type" method="POST">
            <label for="medicineTypeName">Новый препарат:</label>
            <input type="text" id="medicineTypeName" name="medicineTypeName" required>
            <button type="submit">Добавить</button>
        </form>
    </div>

    <!-- Table for displaying medicine types -->
    <h2>Справочник препаратов</h2>
    <table>
        <tr>
            <th>Наименование</th>
            <th>Действие</th>
        </tr>
        <% medicineTypes.forEach(type => { %>
            <tr>
                <td><%= type.name %></td>
                <td>
                    <form action="/delete-medicine-type/<%= type.id %>" method="POST">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </table>
</div>
</body>
</html>
