<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Главная страница</title>
</head>
<body>
    <div class="container" style="text-align: center; max-width: 50%;">
        <h1>Выдача и возврат журналов</h1>
        <a href="/issue"><button>Выдача журнала</button></a>
        <a href="/admin"><button>Панель администратора</button></a>
    </div>
</body>
</html>